@model GetStarted.Entities.Restaurant

<section class="panel panel-default">
    <div class="panel-heading">@Model.Name</div>
    <div class="panel-body">
        @Model.Cuisine
        <div>
            <a class="btn btn-default" asp-action="Detail" asp-route-id="@Model.Id">Detail</a>
            <a class="btn btn-default" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        </div>
    </div>
    
</section>