@model GetStarted.Entities.Restaurant

@{
    ViewBag.Title = $"Edit " + nameof(Model.Name);
}
<form asp-action="Edit" method="post">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name"/>
        <span asp-validation-for="Name"/>
    </div>
    <div>
        <label asp-for="Cuisine"></label>
        <select asp-for="Cuisine" asp-items="@Html.GetEnumSelectList(typeof(CuisineType))"></select>
        <span asp-validation-for="Cuisine"/>
    </div>
    <div>
        <input type="submit" value="Save" />
    </div>

</form>

